<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <img class="logo-cr7" src="image/logo-blog.jpg" />
      <div>
        <a href="/">Home</a>
        <a href="/profile">About</a>
        <a href="/works">Works</a>
        <a href="/galery">Galery</a>
      </div>
    </nav>
    <section class="about-container">
      <div class="content-about-text left">
        <h2>Debut with Sporting</h2>
        <img class="resize-image" src="/image/cr7_galery/1.jpeg" />
      </div>
      <div class="content-about-text right">
        <h2>Opening of José Alvalade Stadium</h2>
        <img class="resize-image" src="/image/cr7_galery/2.webp  " />
      </div>
      <div class="content-about-text left">
        <h2>Presentation as a player for the 'red devils'</h2>
        <img class="resize-image" src="/image/cr7_galery/3.webp  " />
      </div>
      <div class="content-about-text right">
        <h2>First official goal for the national team</h2>
        <img class="resize-image" src="/image/cr7_galery/4.webp  " />
      </div>
      <div class="content-about-text left">
        <h2>Tears in the final of Euro 2004</h2>
        <img src="/image/cr7_galery/5.webp  " />
      </div>
      <div class="content-about-text right">
        <h2>First Ballon d'Or</h2>
        <img class="resize-image" src="/image/cr7_galery/6.webp  " />
      </div>
      <div class="content-about-text left">
        <h2>Hala Madrid!</h2>
        <img class="resize-image" src="/image/cr7_galery/7.webp  " />
      </div>
    </section>
  </body>
</html>
