<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <img class="logo-cr7" src="image/logo-blog.jpg" />
      <div>
        <a href="/">Home</a>
        <a href="/profile">About</a>
        <a href="/works">Works</a>
        <a href="/galery">Galery</a>
      </div>
    </nav>
    <header class="home-container">
      <section class="hover-text">
        <img src="image/character.gif" />
        <img class="image-text-gif" src="image/si.gif" />
      </section>
    </header>

    <!-- <section class="home-container">
      <img class="welcome_page_cr7" src="image/cr7_welcome_page.gif" />
    </section> -->
  </body>
</html>
