<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <img class="logo-cr7" src="image/logo-blog.jpg" />
      <div>
        <a href="/">Home</a>
        <a href="/profile">About</a>
        <a href="/works">Works</a>
        <a href="/galery">Galery</a>
      </div>
    </nav>
    <section class="about-container">
      <div class="content-about-text left">
        <h2>About Section</h2>
        <p>
          Cristiano Ronaldo is a Portuguese professional footballer who
          currently plays as a forward for Manchester United and the Portugal
          national team. Born on February 5th, 1985, in Funchal, Madeira,
          Portugal, Ronaldo has established himself as one of the greatest
          footballers of all time.
        </p>
      </div>
      <div class="content-about-text right">
        <h2>Career Section</h2>
        <p>
          Ronaldo's professional career began at Sporting CP in Portugal, where
          his impressive performances caught the attention of Manchester United.
          He signed with the English club in 2003 and went on to win multiple
          titles, including three Premier League titles and a Champions League
          trophy. In 2009, he transferred to Real Madrid, where he continued his
          success, helping the team win four Champions League titles and two La
          Liga titles. In 2018, he signed with Juventus, where he won two Serie
          A titles in two seasons before returning to Manchester United in 2021.
          Ronaldo has also had a successful international career, representing
          Portugal in multiple European Championships and World Cups. He helped
          lead Portugal to victory in the 2016 European Championships and has
          been a crucial player for the national team for many years.
        </p>
      </div>
      <div class="content-about-text left">
        <h2>Personal Life Section</h2>
        <p>
          Off the pitch, Ronaldo is known for his charitable work through the
          Cristiano Ronaldo Foundation, which focuses on supporting children and
          promoting education. He is a father of four children and is in a
          relationship with Georgina Rodriguez. In his free time, Ronaldo enjoys
          maintaining a fit and healthy lifestyle, as well as playing video
          games and following fashion trends.
        </p>
      </div>
      <div class="content-about-text right">
        <h2>Awards and Accomplishments Section</h2>
        <p>
          Throughout his career, Ronaldo has won numerous awards and accolades.
          He has won five Ballon d'Or awards, given to the best player in the
          world, and has been named to the UEFA Team of the Year multiple times.
          He is also the all-time top scorer for both Real Madrid and the UEFA
          Champions League. In addition, Ronaldo holds several records,
          including the most goals scored in a single season for Real Madrid and
          the most hat-tricks in La Liga history.
        </p>
      </div>
    </section>
  </body>
</html>
